.holderpane{
-fx-padding: 10;
-fx-opacity: 0.8;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: blue;
-fx-hgap: 10;
-fx-vgap: 10;
}

.inventorypane{
-fx-padding: 10, 10, 0, 0;
-fx-opacity: 1.0;
-fx-background-color: #000000;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: blue;
-fx-hgap: 100;
}

.detailpane{
-fx-opacity: 1.0;
-fx-background-color: #000000;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: red;
}

.label{
-fx-text-fill:white;
-fx-font-size: 20px;
-fx-opacity: 1.0;
}

.label:hover {
-fx-text-fill: black;
-fx-background-color: #ffffff;
-fx-font-size: 20px;
-fx-opacity: 1.0;
}