.button{
-fx-opacity: 1.0;
-fx-text-fill: #ffffff;
-fx-background-color: #000000;
}

.button:hover{
-fx-opacity: 1.0;
-fx-text-fill: #000000;
-fx-background-color: #ffffff;
}


.moveselectbox{
-fx-opacity: 0.8;
-fx-background-color: black;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: blue;
}	


.holderpane{
-fx-opacity: 0.8;
-fx-background-color: black;
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: red;
}	