.button{
-fx-text-fill: #ffffff;
-fx-background-color:transparent;
-fx-font-size:20px;
}

.button:hover{

-fx-text-fill: #ff0077;
-fx-background-color:#ffffff;
-fx-font-size:20px;
}

.moveselectbox{
-fx-border-style: solid inside;
-fx-border-width: 2;
-fx-border-insets: 5;
-fx-border-radius: 5;
-fx-border-color: blue;
}	